<!doctype html>

<html lang="en">
	<head>
		  <meta charset="utf-8">

		    <title>The HTML5 Herald</title>
		      <meta name="description" content="The HTML5 Herald">
		        <meta name="author" content="SitePoint">

			  <link rel="stylesheet" href="css/styles.css?v=1.0">

	</head>

	<body>
		  <script src="js/scripts.js"></script>
		  <form action="/admin/editUser" method="POST">
		    <h2>Edit User</h2>
		    <label for="username">Username: </label>
		    <input type="text" value="{{username}}" name="username" readonly"><br/>
		    <label for="password">Password: </label>
		    <input type="password" name="password"></br>
		    <label for="fullname">Full Name: </label>
		    <input type="text" name="fullname"><br/>
		    <button type="submit">Update User</button></br>
		    <a href="/admin">Back</a>
		  </form>
	</body>
</html>
