<!doctype html>

<html lang="en">
	<head>
		  <meta charset="utf-8">

		    <title>Image Gallery Login</title>
			  <link rel="stylesheet" href="css/styles.css?v=1.0">

	</head>

	<body>
		  <script src="js/scripts.js"></script>
		  <form action="/login" method="POST">
			  <h2>Login</h2>
			  <label for="username">Username: </label>
			  <input type="text" name="username" maxlength="30"><br/>
			  <label for="password">Password: </label>
			  <input type="password" name="password" maxlength="30"><br/>
			  <button type="submit">Login</button>
		  </form>
		  {% if error %}
		  	<p><strong> Error: {{ error }}</p>
		  {% endif %}
	</body>
</html>
