<!doctype html>

<html lang="en">
	<head>
		  <meta charset="utf-8">

		    <title>The HTML5 Herald</title>
		      <meta name="description" content="The HTML5 Herald">
		        <meta name="author" content="SitePoint">

			  <link rel="stylesheet" href="css/styles.css?v=1.0">

	</head>

	<body>
		  <script src="js/scripts.js"></script>
		  <form action="/admin/addUser" method="POST">
			  <h2>Add User</h2>
			  <label for="username">Username: </label>
			  <input type="text" name="username" maxlength="30"><br/>
			  <label for="password">Password: </label>
			  <input type="password" name="password" maxlength="30"><br/>
			  <label for="fullname">Full Name: </label>
			  <input type="text" name="fullname" maxlength="30"><br/>
			  <button type="submit">Add User</button>
		  </form>
	</body>
</html>
