<!doctype html>

<html lang="en">
	<head>
		  <meta charset="utf-8">

		    <title>The HTML5 Herald</title>
		      <meta name="description" content="The HTML5 Herald">
		        <meta name="author" content="SitePoint">

			  <link rel="stylesheet" href="css/styles.css?v=1.0">

	</head>

	<body>
		  <script src="js/scripts.js"></script>
		  <form action="/admin/deleteUser/{{username}}" method="POST">
			  <h2>Are you sure you want to delete user {{username}}?</h2>
			  <button type="submit">Delete</button></br></br>
			  <a href="/admin">Back</a>
	</body>
</html>
